body>div {
    background-color: #eee;
}

.entry-list-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.entry {
    margin: 10px;
    width: 100%;
    max-width: 532px;
}

