body {
    overflow: hidden;
    margin: 0px;
}

#main {
    background-color: #d4d0d0;
    position: absolute;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.main-column {
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
}

.more-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.loading {
    background: yellow;
}

.entry-list-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.entry {
    margin: 10px;
    width: 100%;
    max-width: 532px;
}

.entry-summary {
    height: 400px;
}

.header-row {
    height: 140px;
    background-color: #eee;
}

.padding {
    height: 400px;
    margin: 10px;
    width: 100%;
    max-width: 532px;
}
