body>div {
    background-color: #d4d0d0;
}

.entry-list-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
}

.entry {
    margin: 10px;
    width: 100%;
    max-width: 532px;
}

.header-row {
    height: 133px;
    background-color: #eee;
}
